body{
  background-color: #15092F !important;
  width: 100%;
  height: 100%;
  margin: 0px;
}
html{
  width: 100%;
  height: 100%;
  margin: 0px;
}

header h1{
  font-size: 60pt;
  font-family: 'Lobster', cursive;
  color: #F2FE9C;
  display: inline-block;
}

#conteiner-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#conteiner-header svg{
  margin-left: 10px;
  margin-right: 10px;
}

#conteiner{
  width: 90%;
  height: auto;
  margin: auto;
  padding: 10px;
}

.flex-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#conteiner-seats{
  padding: 10px;
  flex-direction: column;
  background-color: #F91E32;
  border-radius: 10px;
  border: solid 5px;
  border-color: #c70515;
  color: white;
}

.seat-free:hover{
  cursor: pointer;
}

#buy-conteiner{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

#button-buy{
  height: 30px;
  width: 100px;
  background-color: white;
  text-align: center;
  background-color: #3999A5;
  border-radius: 25px;
  border: solid 5px #3999A5;
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
}

#button-buy:hover{
  background-color: #54b7c4;
  border-color: #54b7c4;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}

#button-buy:hover:active{
  background-color: #2e7b85;
  border-color: #2e7b85;
  box-shadow: none;
}
